<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This is the daily deploy that gets the latest code on the master branch into production.&#xd;
&#xd;
NOTE 1: you probably don&apos;t want to run this manually. Instead, you want to promote a successful deploy-staging build.&#xd;
&#xd;
NOTE 2: this uses the deploy-staging build workspace for speed.&#xd;
TODO(chris): copy deploy-staging workspace and reuse rather than sharing a workspace.</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>200</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.plugins.hipchat.HipChatNotifier_-HipChatJobProperty plugin="hipchat@0.1.5-SNAPSHOT">
      <room></room>
      <startNotification>true</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
    </jenkins.plugins.hipchat.HipChatNotifier_-HipChatJobProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GIT_COMMIT_OVERRIDE</name>
          <description>NOTE: you probably don&apos;t want to start a build here manually. Instead, promote a successful deploy-staging build. By default this will deploy the latest code from origin/master. Set this parameter to a git SHA1 or the name of a branch on a remote (e.g., &quot;origin/master&quot;) to override what is deployed.</description>
          <defaultValue>origin/master</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FORCE_INDEX_CHANGES</name>
          <description>By default the build will refuse to deploy if there have been changes to index.yaml since the last deployment. Set this to 1 to override this behavior and deploy anyway.</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SKIP_TESTS</name>
          <description>Set this to 1 to skip running tests. Maybe you already ran the test suite and deployed, and then got in a minor fix, and just want to get it out quickly. If this is you then setting this to 1 is A-OK.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>CLEAN</name>
          <description>By default the value &quot;most&quot; cleans most files out of the working directory before a new build, but not all of them. Some generated files are left over to speed up the build (because many CSS, JS, and source files with embedded languages don&apos;t change very frequently). Set this to &quot;all&quot; to clear even the left-over generated files. Your build will take longer since all files must be regenerated. You can also use &quot;none&quot; to clean nothing.</description>
          <defaultValue>most</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@1.8">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories>
        <string>builds-using-deploy-staging-workspace</string>
      </categories>
      <throttleEnabled>true</throttleEnabled>
      <throttleOption>category</throttleOption>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.22">
      <diskUsageWithoutBuilds>3073408642</diskUsageWithoutBuilds>
      <slaveWorkspacesUsage class="concurrent-hash-map">
        <entry>
          <string></string>
          <concurrent-hash-map>
            <entry>
              <string>/var/lib/jenkins/jobs/deploy-staging/workspace</string>
              <long>3531146399</long>
            </entry>
            <entry>
              <string>/var/lib/jenkins/jobs/deploy-daily/workspace</string>
              <long>3065563185</long>
            </entry>
          </concurrent-hash-map>
        </entry>
      </slaveWorkspacesUsage>
    </hudson.plugins.disk__usage.DiskUsageProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <refspec>+refs/heads/master:refs/remotes/origin/master</refspec>
        <url>ssh://khanacademy@khanacademy.kilnhg.com/Website/Group/webapp</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>$GIT_COMMIT_OVERRIDE</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <browser class="hudson.plugins.git.browser.KilnGit">
      <url>https://khanacademy.kilnhg.com/Code/Website/Group/webapp/</url>
    </browser>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>webapp</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
      <hudson.plugins.git.extensions.impl.SubmoduleOption>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>true</recursiveSubmodules>
      </hudson.plugins.git.extensions.impl.SubmoduleOption>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>$JENKINS_HOME/jobs/deploy-staging/workspace</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command># deploy.py looks to $USER for the real initiator when prod-deploy@ is running the deploy.
if [ -n &quot;$BUILD_USER_ID&quot; ]; then
  export USER=$BUILD_USER_ID
fi

# The default deploy may only be done from the master branch. We fake it here.
(cd webapp &amp;&amp; git branch -f master HEAD &amp;&amp; git checkout master &amp;&amp; git rev-parse HEAD)
DEPLOY_VERSION=default HIPCHAT_ROOM=&quot;1s and 0s&quot; timeout -k 5m 1h webapp/tools/build-deploy.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.36">
      <recipientList>$DEFAULT_RECIPIENTS</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FirstFailureTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
          <failureCount>1</failureCount>
        </hudson.plugins.emailext.plugins.trigger.FirstFailureTrigger>
        <hudson.plugins.emailext.plugins.trigger.FixedTrigger>
          <email>
            <recipientList></recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>false</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo></replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FixedTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript></presendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_RECIPIENTS</replyTo>
      <saveOutput>false</saveOutput>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
    <jenkins.plugins.hipchat.HipChatNotifier plugin="hipchat@0.1.5-SNAPSHOT">
      <authToken>${HIPCHAT_AUTH_TOKEN}</authToken>
      <buildServerUrl>http://jenkins.khanacademy.org/</buildServerUrl>
      <room>1s and 0s</room>
      <sendAs>Jenny Jenkins</sendAs>
    </jenkins.plugins.hipchat.HipChatNotifier>
  </publishers>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@1.89">
      <injectGlobalPasswords>true</injectGlobalPasswords>
      <passwordEntries/>
    </EnvInjectPasswordWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.3">
      <template>#${BUILD_NUMBER} (${GIT_REVISION,length=7})</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.1"/>
  </buildWrappers>
</project>