# NOTE: make sure the google group is set up to have root@khanacademy.org
#       as a member, or this mail will bounce!
MAILTO = toby-admin+crontab@khanacademy.org
PATH = /usr/local/bin:/usr/bin:/bin

# Check for new repositories, and check up on daemons, every 5 minutes.
  */5 *  *   *   *     sh -c '/usr/bin/timeout 4m python internal-webserver/update_phabricator_repositories.py $HOME/phabricator/repositories' || echo "Failed to update phabricator's repository-list"

# Check for elevated issue rates on UserVoice.
  10 *  *   *   *     sh -c '/usr/bin/timeout 55m env PYTHONPATH=$HOME/beep-boop/alertlib:$HOME/alertlib_secret python $HOME/beep-boop/uservoice_reports.py' >> $HOME/logs/beep-boop-uservoice.log || echo "Failed to run beep-boop for UserVoice; see $HOME/logs/beep-boop-uservoice.log"

# Check for elevated issue rates on Github.
  16 *  *   *   *     sh -c '/usr/bin/timeout 55m python PYTHONPATH=$HOME/beep-boop/alertlib:$HOME/alertlib_secret $HOME/beep-boop/github_reports.py' >> $HOME/logs/beep-boop-github.log || echo "Failed to run beep-boop for github; see $HOME/logs/beep-boop-github.log"

# Do a backup every day.  (12:00 UTC is 4am PST)
  0  12  *   *   *     sh -c 'echo "--- `date`"; $HOME/aws-config/internal-webserver/snapshot_toby.sh' >> $HOME/logs/aws-snapshot.log || echo "Failed to snapshot toby's data; see $HOME/logs/aws-snapshot.log"

# --- Fetch stats and send them to graphite
# Fetch GAE usage reports every day. Reports are generated at about 1430 PST
# which is 2130 UTC, and we allow for a bit of wiggle room.
00 22 * * * sh -c 'echo "--- `date`"; /usr/bin/timeout 55m $HOME/internal-webserver/gae_dashboard/fetch_usage.sh' >> $HOME/logs/gae_dashboard_usage.log || echo "gae_dashboard_usage run failed; see $HOME/logs/gae_dashboard_usage.log"

# Fetch GAE admin UI stats every 5 minutes.
*/5 * * * * sh -c 'echo "--- `date`"; /usr/bin/timeout 4m $HOME/internal-webserver/gae_dashboard/fetch_stats.sh' >> $HOME/logs/gae_dashboard_stats.log
# Once a day, don't write to the datastore but email on failure to
# keep a pulse on this process.
00 23 * * * sh -c 'echo "--- `date`"; /usr/bin/timeout 4m $HOME/internal-webserver/gae_dashboard/fetch_stats.sh -n' >> $HOME/logs/gae_dashboard_stats.log || echo "gae_dashboard_stats run failed; see $HOME/logs/gae_dashboard_stats.log"

# Fetch bigquery stats every day, and send them via email.
00 32 * * * sh -c 'echo "--- `date`"; /usr/bin/timeout 30m $HOME/internal-webserver/gae_dashboard/email_bq_data.py' >> $HOME/logs/email_bq_data.log || echo "email_bq_data run failed; see $HOME/logs/email_bq_data.log"
