/* This theme CSS is intended to be served by the Simple Theme Plugin:
   https://wiki.jenkins-ci.org/display/JENKINS/Simple+Theme+Plugin */

#top-panel {
  background:#2c3747 !important;
}

/* Replace "Jenkins" title image with custom styling. */
#top-panel img[src$="title.png"] {
  display:none;
}
#top-panel a[href="/"]:after {
  color:white;
  content:"Jenkins";
  font-family:Georgia;
  font-size:28px;
  letter-spacing:1px;
  padding:0px 15px;
}

#main-table {
  background-image:url(handtree.png) !important;
}

/* Parameterized build promotions are in a ".pane" with white-space:nowrap, but
 * that doesn't make sense for potentially long descriptions. */
.pane .setting-description {
  white-space:normal;
}
