[core]
        # Global .gitignore file
        excludesfile = ~/.gitignore_global

[user]
        email = jenkins+manual@khanacademy.org
        name = Jenny Jenkins (manual login)

[http]
        postBuffer = 629145600

[pack]
        windowMemory = 100m
        packSizeLimit = 100m
        threads = 1
